/artifacts
/logs

venv/
.env

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
/datasets/data-pipeline
/_feast/feature_repo/data/

/src/mlflow_runs

/deploy_kserve

/upload_dataset.py
/example*.yaml
/src/monitoring/db/*.db