/artifacts
/logs

venv/
myvenv/
.env

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
/datasets/data-pipeline
/_feast/feature_repo/data/

/src/mlflow_runs

*.csv
*.DS_Store

/deploy_kserve

/feature_store_ex.yaml
/test_workflow.py
/upload_dataset.py
/example*.yaml
