# training
scikit-learn
numpy
pandas
pandera
matplotlib
seaborn
boto3
python-dotenv

# (optional)
pyarrow
joblib
# Feast/pandas can read s3:// URLs:
s3fs

# kubeflow
kfp
kfp-kubernetes
kubernetes
kubeflow-training

# mlflow
mlflow


# API / Serving 
flask
flask-cors

# Monitoring
evidently

# feast-feature-store
feast
feast[redis]
feast[postgres]

sqlalchemy
psycopg2-binary

# redis
# installed in server